{% extends 'main/layout.html' %}
{% block title %}About{% endblock %}

{% block content %}
    <div class="features">
       <h1>About our company</h1>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum enim dicta cumque facere
                    sapiente molestiae? Libero hic aliquam inventore, odio dicta exercitationem facere provident nobis
                    accusamus officiis asperiores veniam rerum temporibus aspernatur. Exercitationem delectus fuga
                    voluptate quos ad explicabo sequi quod sit voluptatum assumenda! Dolor alias ratione quam,
                    temporibus praesentium culpa ab sit, exercitationem nobis consectetur excepturi neque molestias
                    laudantium. Debitis dolore amet aut illum possimus quia magnam ipsa eaque!</p>
        <div class="icon">
       <i class="fab fa-html5"></i>
       <i class="fab fa-css3-alt"></i>
       <i class="fab fa-js"></i>
       <i class="fab fa-node"></i>
       <i class="fab fa-react"></i>
       <i class="fab fa-angular"></i>
    </div>
   </div>
{% endblock %}